@import "tailwindcss";

@layer base {
  /* Catppuccin Mocha */
  :root {
    --background: 240 23% 9%;        /* Crust */
    --foreground: 226 64% 88%;       /* Text */
    --card: 240 21% 12%;             /* Mantle */
    --card-foreground: 226 64% 88%;
    --popover: 240 21% 12%;          /* Mantle */
    --popover-foreground: 226 64% 88%;
    --primary: 267 84% 81%;          /* Mauve */
    --primary-foreground: 240 23% 9%; /* Crust */
    --secondary: 240 21% 15%;        /* Base */
    --secondary-foreground: 226 64% 88%;
    --muted: 237 16% 23%;            /* Surface0 */
    --muted-foreground: 228 24% 72%; /* Subtext0 */
    --accent: 217 92% 76%;           /* Blue */
    --accent-foreground: 240 23% 9%; /* Crust */
    --destructive: 343 81% 75%;      /* Red */
    --destructive-foreground: 240 23% 9%;
    --border: 234 13% 31%;           /* Surface1 */
    --input: 234 13% 31%;            /* Surface1 */
    --ring: 217 92% 76%;             /* Blue */
    --radius: 0.5rem;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: "Google Sans", sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  code, pre, kbd, samp {
    font-family: "Google Sans Mono", monospace;
  }
}
